<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin
   id="com.hudson.velocityweb"
   name="Velocity Edit"
   version="1.6.5"
   provider-name="Sefler Zhou email: sefler@126.com"
   class="com.hudson.velocityweb.Plugin">

   <runtime>
      <library name="velocity-1.6.2-dep.jar">
         <export name="*"/>
      </library>
      <library name="dtdparser121.jar">
         <export name="*"/>
      </library>
      <library name="."/>
      <library name="commons-lang3-3.1.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="IKAnalyzer2012.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lucene-core-3.6.0.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lucene-highlighter-3.6.0.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lucene-memory-3.6.0.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="jtidy-r938.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="htmlparser.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.compare" version="3.5.300"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Velocity Editor"
            extensions="vm"
            icon="icons/template.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.hudson.velocityweb.editors.velocity.VelocityMultiPageEditor"
            id="com.hudson.velocityweb.editors.velocity.VelocityMultiPageEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Velocity Web Edit"
            class="com.hudson.velocityweb.preferences.MainPreferences"
            id="com.hudson.velocityweb.preferences.MainPreferences">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            name="Velocity Web Edit"
            class="com.hudson.velocityweb.properties.ContextProperties"
            id="com.hudson.velocityweb.properties.ContextProperties">
      </page>
   </extension>

	<extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#VelocityEditorContext"
            id="com.hudson.velocityweb.editors.viewContributionText">
         <action
               icon="icons/include.gif"
               enablesFor="*.vm"
               label="Goto Definition"
               class="com.hudson.velocityweb.editors.actions.GoToDefinition"
               menubarPath="additions"
               id="com.hudson.velocityweb.editors.actions.GoToDefinition">
         </action>
         <menu
               id="velocityEditorContextMenu"
               label="Sources">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="com.hudson.velocityweb.editors.actions.ToggleComment"
               definitionId="Velocity Toggle Comment"
               id="com.hudson.velocityweb.editor.context.toggleComment"
               label="Toggle Comment"
               menubarPath="velocityEditorContextMenu/additions"
               state="true"
               style="push"
               tooltip="Toggle comment for selected lines">
         </action>
         <action
               class="com.hudson.velocityweb.editors.actions.FormatCode"
               definitionId="Format Velocity Code"
               id="com.hudson.velocityweb.editors.context.actions.formatCode"
               label="Format"
               menubarPath="velocityEditorContextMenu/additions"
               state="true"
               style="push"
               tooltip="Format code to make code cleaner">
         </action>
		</viewerContribution>
	</extension>
 <extension
       point="org.eclipse.ui.editorActions">
    <editorContribution
          id="com.hudson.velocityweb.menu.contributor"
          targetID="com.hudson.velocityweb.editors.velocity.VelocityMultiPageEditor">
       <action
             class="com.hudson.velocityweb.editors.actions.ToggleComment"
             definitionId="com.hudson.velocityweb.editor.toggleCommentCommand"
             id="com.hudson.velocityweb.editor.toggleComment"
             label="Toggle Comment"
             menubarPath="velocityEditorMenu/additions"
             state="true"
             style="push"
             tooltip="Toggle comment for selected lines">
       </action>
       <action
             class="com.hudson.velocityweb.editors.actions.FormatCode"
             definitionId="com.hudson.velocityweb.editor.formatCodeCommand"
             id="com.hudson.velocityweb.editor.formatCode"
             label="Format"
             menubarPath="velocityEditorMenu/additions"
             state="true"
             style="push"
             tooltip="Format code to make code cleaner">
         </action>
       <menu
             id="velocityEditorMenu"
             label="Sources">
          <groupMarker
                name="additions">
          </groupMarker>
       </menu>
    </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="com.hudson.velocityweb.editor.toggleCommentCommand"
          contextId="com.hudson.velocityweb.velocityContext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+/">
    </key>
    <key
          commandId="com.hudson.velocityweb.editor.formatCodeCommand"
          contextId="com.hudson.velocityweb.velocityContext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+F">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="com.hudson.velocityweb.editor.toggleCommentCommand"
          name="Toggle Comment Command">
    </command>
    <command
          id="com.hudson.velocityweb.editor.formatCodeCommand"
          name="Format Code Command">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.contexts">
    <context
          id="com.hudson.velocityweb.velocityContext"
          name="Editing Velocity sources">
    </context>
 </extension>
</plugin>
